Найти все заказы, где было продано более 2 единиц продукта и цена продукта больше 50. Вывести только столбцы order_id и product.

In [1]:
import pandas as pd

data = [
    [1, 'Laptop', 1000, 1],
    [2, 'Mouse', 30, 5],
    [3, 'Keyboard', 60, 3],
    [4, 'Monitor', 200, 2],
    [5, 'Headphones', 80, 4]
]
sales = pd.DataFrame(data, columns=['order_id', 'product', 'price', 'quantity'])

In [2]:
sales

   order_id     product  price  quantity
0         1      Laptop   1000         1
1         2       Mouse     30         5
2         3    Keyboard     60         3
3         4     Monitor    200         2
4         5  Headphones     80         4

In [10]:
result = sales[(sales['price'] > 50) & (sales['quantity'] >2)][['order_id', 'product']]

In [14]:
result = sales[(sales.price > 50) & (sales.quantity > 2)][['order_id', 'product']]

In [15]:
result

   order_id     product
2         3    Keyboard
4         5  Headphones