Найти все дни, когда сумма продаж увеличилась по сравнению с предыдущим днём более чем на 100 долларов, и эти дни следуют друг за другом (разница между датами равна 1 дню). Вывести столбцы day_id и date для таких дней.

In [1]:
import pandas as pd
from datetime import datetime

data = [
    [1, '2023-01-01', 200],
    [2, '2023-01-02', 350],
    [3, '2023-01-03', 300],
    [4, '2023-01-04', 500],
    [5, '2023-01-05', 450]
]
sales = pd.DataFrame(data, columns=['day_id', 'date', 'sales']).astype({
    'day_id': 'Int64',
    'date': 'datetime64[ns]',
    'sales': 'Int64'
})

In [4]:
sales

   day_id       date  sales
0       1 2023-01-01    200
1       2 2023-01-02    350
2       3 2023-01-03    300
3       4 2023-01-04    500
4       5 2023-01-05    450

In [3]:
sales.sort_values(by='date', inplace=True)

In [19]:
result = sales[(sales['sales'].diff() > 100) & (sales['date'].diff().dt.days == 1)][['day_id', 'date']]

In [17]:
result

   day_id       date
1       2 2023-01-02
3       4 2023-01-04