–£ —Ç–µ–±—è –µ—Å—Ç—å DataFrame deliveries, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –¥–æ—Å—Ç–∞–≤–∫–∞—Ö –µ–¥—ã –≤ —Ä–µ—Å—Ç–æ—Ä–∞–Ω–µ.  
–¢–≤–æ—è –∑–∞–¥–∞—á–∞ ‚Äî –Ω–∞–ø–∏—Å–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è:  
–ì—Ä—É–ø–ø–∏—Ä—É–µ—Ç –¥–∞–Ω–Ω—ã–µ –ø–æ delivery_date.  
–î–ª—è —Å—Ç–æ–ª–±—Ü–∞ dish –≤—ã–ø–æ–ª–Ω—è–µ—Ç –¥–≤–µ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏:  
–ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –±–ª—é–¥ (unique_dishes).  
–ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ—Ç –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ—Å—Ç–∞–≤–æ–∫ (–≤–∫–ª—é—á–∞—è –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –±–ª—é–¥–∞) (total_deliveries).  
–í–æ–∑–≤—Ä–∞—â–∞–µ—Ç DataFrame —Å –∫–æ–ª–æ–Ω–∫–∞–º–∏ delivery_date, unique_dishes, total_deliveries, –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –ø–æ delivery_date –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é.

In [3]:
import pandas as pd

data = [
    ['2023-07-01', 'Pizza'],
    ['2023-07-01', 'Pizza'],
    ['2023-07-01', 'Sushi'],
    ['2023-07-02', 'Burger'],
    ['2023-07-02', 'Pizza'],
    ['2023-07-03', 'Sushi'],
    ['2023-07-03', 'Sushi'],
    ['2023-07-03', 'Burger']
]
deliveries = pd.DataFrame(data, columns=['delivery_date', 'dish']).astype({'delivery_date': 'datetime64[ns]', 'dish': 'object'})

In [4]:
deliveries

  delivery_date    dish
0    2023-07-01   Pizza
1    2023-07-01   Pizza
2    2023-07-01   Sushi
3    2023-07-02  Burger
4    2023-07-02   Pizza
5    2023-07-03   Sushi
6    2023-07-03   Sushi
7    2023-07-03  Burger

In [18]:
deliveries.groupby('delivery_date', as_index=False)\
    ['dish']\
    .agg([('unique_dishes', 'nunique'),\
        ('total_deliveries', 'count')])\
    .sort_values('delivery_date')

  delivery_date  unique_dishes  total_deliveries
0    2023-07-01              2                 3
1    2023-07-02              2                 2
2    2023-07-03              2                 3

–£ —Ç–µ–±—è –µ—Å—Ç—å DataFrame —Å–æ —Å–ø–∏—Å–∫–æ–º —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –∏ –∏—Ö –±–∞–ª–ª–æ–≤ –ø–æ —ç–∫–∑–∞–º–µ–Ω—É. –ù—É–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü "result", –≥–¥–µ –±—É–¥–µ—Ç –Ω–∞–ø–∏—Å–∞–Ω–æ "pass", –µ—Å–ª–∏ –±–∞–ª–ª –±–æ–ª—å—à–µ –ª–∏–±–æ —Ä–∞–≤–µ–Ω 60, –∏ "fail", –µ—Å–ª–∏ –º–µ–Ω—å—à–µ 60.

In [1]:
import pandas as pd
data = {
    "name": ["–ê–Ω—è", "–ë–æ—Ä–∏—Å", "–í–∞—Å—è", "–ì–∞–ª—è"],
    "score": [45, 82, 67, 53]
}
df = pd.DataFrame(data)

In [4]:
df

    name  score result
0    –ê–Ω—è     45   fail
1  –ë–æ—Ä–∏—Å     82   pass
2   –í–∞—Å—è     67   pass
3   –ì–∞–ª—è     53   fail

In [3]:
df["result"] = df["score"].apply(lambda x: "pass" if x >= 60 else "fail")

–£ —Ç–µ–±—è –µ—Å—Ç—å —Ç–∞–±–ª–∏—Ü–∞ —Å –ø–æ–∫—É–ø–∫–∞–º–∏ –≤ –º–∞–≥–∞–∑–∏–Ω–µ: –ø–æ–∫—É–ø–∞—Ç–µ–ª—å, –∫–∞—Ç–µ–≥–æ—Ä–∏—è —Ç–æ–≤–∞—Ä–∞ –∏ —Å—É–º–º–∞ –ø–æ–∫—É–ø–∫–∏. –ù—É–∂–Ω–æ –Ω–∞–π—Ç–∏:  
üëâ —Å—Ä–µ–¥–Ω—é—é —Å—É–º–º—É –ø–æ–∫—É–ø–∫–∏ –ø–æ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏,  
üëâ –∞ —Ç–∞–∫–∂–µ –¥–æ–±–∞–≤–∏—Ç—å —Å—Ç–æ–ª–±–µ—Ü "above_avg", –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å "yes", –µ—Å–ª–∏ —Å—É–º–º–∞ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–π –ø–æ–∫—É–ø–∫–∏ –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–π –≤ –µ—ë –∫–∞—Ç–µ–≥–æ—Ä–∏–∏, –∏ "no", –µ—Å–ª–∏ –Ω–∏–∂–µ –∏–ª–∏ —Ä–∞–≤–Ω–∞.

In [5]:
import pandas as pd

data = {
    "customer": ["–ê–Ω—è", "–ë–æ—Ä–∏—Å", "–í–∞—Å—è", "–ì–∞–ª—è", "–ê–Ω—è", "–ë–æ—Ä–∏—Å"],
    "category": ["–§—Ä—É–∫—Ç—ã", "–§—Ä—É–∫—Ç—ã", "–§—Ä—É–∫—Ç—ã", "–û–≤–æ—â–∏", "–û–≤–æ—â–∏", "–û–≤–æ—â–∏"],
    "amount": [100, 150, 120, 80, 60, 90]
}

df = pd.DataFrame(data)

In [9]:
df

  customer category  amount above_avg
0      –ê–Ω—è   –§—Ä—É–∫—Ç—ã     100        no
1    –ë–æ—Ä–∏—Å   –§—Ä—É–∫—Ç—ã     150       yes
2     –í–∞—Å—è   –§—Ä—É–∫—Ç—ã     120        no
3     –ì–∞–ª—è    –û–≤–æ—â–∏      80       yes
4      –ê–Ω—è    –û–≤–æ—â–∏      60        no
5    –ë–æ—Ä–∏—Å    –û–≤–æ—â–∏      90       yes

In [8]:
df["above_avg"] = df.groupby("category")["amount"].transform(
    lambda x: x > x.mean()
).map({True: "yes", False: "no"})

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å DataFrame, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü 'full_name', –≥–¥–µ —É–∫–∞–∑–∞–Ω—ã –ø–æ–ª–Ω—ã–µ –∏–º–µ–Ω–∞ –≤ —Ñ–æ—Ä–º–∞—Ç–µ "–ò–º—è –§–∞–º–∏–ª–∏—è". –í–∞–º –Ω—É–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'first_name', –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å —Ç–æ–ª—å–∫–æ –∏–º—è —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞.  
–î–ª—è —Ä–µ—à–µ–Ω–∏—è —ç—Ç–æ–π –∑–∞–¥–∞—á–∏ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ .apply() –≤–º–µ—Å—Ç–µ —Å lambda-—Ñ—É–Ω–∫—Ü–∏–µ–π.

In [10]:
import pandas as pd

data = {'full_name': ['–ê–Ω–Ω–∞ –ò–≤–∞–Ω–æ–≤–∞', '–ü—ë—Ç—Ä –ü–µ—Ç—Ä–æ–≤', '–ï–ª–µ–Ω–∞ –°–∏–¥–æ—Ä–æ–≤–∞']}
df = pd.DataFrame(data)

In [16]:
df

        full_name first_name
0    –ê–Ω–Ω–∞ –ò–≤–∞–Ω–æ–≤–∞       –ê–Ω–Ω–∞
1     –ü—ë—Ç—Ä –ü–µ—Ç—Ä–æ–≤       –ü—ë—Ç—Ä
2  –ï–ª–µ–Ω–∞ –°–∏–¥–æ—Ä–æ–≤–∞      –ï–ª–µ–Ω–∞

In [15]:
df['first_name'] = df['full_name'].apply(lambda x: x.split()[0])

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å DataFrame, —Å–æ–¥–µ—Ä–∂–∞—â–∏–π –¥–∞–Ω–Ω—ã–µ –æ —Ç–æ–≤–∞—Ä–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü 'price' (—Ü–µ–Ω–∞), –Ω–æ –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ç–∞–º ‚Äî —ç—Ç–æ —á–∏—Å–ª–∞ –≤ –≤–∏–¥–µ —Å—Ç—Ä–æ–∫ —Å —Å–∏–º–≤–æ–ª–æ–º –≤–∞–ª—é—Ç—ã, –Ω–∞–ø—Ä–∏–º–µ—Ä, "150 —Ä—É–±." –∏–ª–∏ "5000 —Ä—É–±.". –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'price_rub', –≥–¥–µ –±—É–¥—É—Ç —Ç–æ–ª—å–∫–æ —á–∏—Å–ª–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ü–µ–Ω—ã –≤ —Ä—É–±–ª—è—Ö, —É–∂–µ –≤ —á–∏—Å–ª–æ–≤–æ–º —Ñ–æ—Ä–º–∞—Ç–µ.  
–î–ª—è —Ä–µ—à–µ–Ω–∏—è —ç—Ç–æ–π –∑–∞–¥–∞—á–∏ —Ç–∞–∫–∂–µ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ .apply() –≤–º–µ—Å—Ç–µ —Å lambda-—Ñ—É–Ω–∫—Ü–∏–µ–π.

In [17]:
import pandas as pd

data = {'product': ['–§—É—Ç–±–æ–ª–∫–∞', '–î–∂–∏–Ω—Å—ã', '–ö—É—Ä—Ç–∫–∞'],
        'price': ['1500 —Ä—É–±.', '3500 —Ä—É–±.', '5000 —Ä—É–±.']}
df = pd.DataFrame(data)

In [26]:
df

    product      price price_rub
0  –§—É—Ç–±–æ–ª–∫–∞  1500 —Ä—É–±.      1500
1    –î–∂–∏–Ω—Å—ã  3500 —Ä—É–±.      3500
2    –ö—É—Ä—Ç–∫–∞  5000 —Ä—É–±.      5000

In [25]:
df['price_rub'] = df['price'].apply(lambda x: x.split()[0])

–£ –≤–∞—Å –µ—Å—Ç—å DataFrame —Å –¥–∞–Ω–Ω—ã–º–∏ –æ —Ç–æ–≤–∞—Ä–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü 'product_code', –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∫–æ–¥—ã –≤ —Ñ–æ—Ä–º–∞—Ç–µ "ABC-12345-DEF". –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'short_code', –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Å–æ—Å—Ç–æ—è—Ç—å —Ç–æ–ª—å–∫–æ –∏–∑ —á–∏—Å–ª–æ–≤–æ–π —á–∞—Å—Ç–∏ –∫–æ–¥–∞. –ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è "ABC-12345-DEF" –Ω–æ–≤—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å 12345.

In [28]:
import pandas as pd

data = {'product_name': ['–ù–æ—É—Ç–±—É–∫', '–ú—ã—à—å', '–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞'],
        'product_code': ['LAP-56789-PRO', 'MOU-12345-GAM', 'KEY-98765-OFF']}
df = pd.DataFrame(data)

In [34]:
df

  product_name   product_code  short_code
0      –ù–æ—É—Ç–±—É–∫  LAP-56789-PRO       56789
1         –ú—ã—à—å  MOU-12345-GAM       12345
2   –ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞  KEY-98765-OFF       98765

In [33]:
df['short_code'] = df['product_code'].apply(lambda x: x.split('-')[1]).astype(int)

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å DataFrame —Å –¥–∞–Ω–Ω—ã–º–∏ –æ —Å—Ç—É–¥–µ–Ω—Ç–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü 'score' (–±–∞–ª–ª –∑–∞ —ç–∫–∑–∞–º–µ–Ω). –í–∞–º –Ω—É–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'result', –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å —Ç–µ–∫—Å—Ç–æ–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:  

"–°–¥–∞–Ω–æ", –µ—Å–ª–∏ –±–∞–ª–ª 50 –∏–ª–∏ –≤—ã—à–µ.  

"–ù–µ —Å–¥–∞–Ω–æ", –µ—Å–ª–∏ –±–∞–ª–ª –Ω–∏–∂–µ 50.

In [1]:
import pandas as pd

data = {'student': ['–ê–Ω–Ω–∞', '–ü—ë—Ç—Ä', '–ï–ª–µ–Ω–∞', '–ò–≤–∞–Ω'],
        'score': [75, 45, 92, 30]}
df = pd.DataFrame(data)

In [38]:
df

  student  score    result
0    –ê–Ω–Ω–∞     75     –°–¥–∞–Ω–æ
1    –ü—ë—Ç—Ä     45  –ù–µ —Å–¥–∞–Ω–æ
2   –ï–ª–µ–Ω–∞     92     –°–¥–∞–Ω–æ
3    –ò–≤–∞–Ω     30  –ù–µ —Å–¥–∞–Ω–æ

In [37]:
df['result'] = df['score'].apply(lambda x: '–°–¥–∞–Ω–æ' if x >= 50 else '–ù–µ —Å–¥–∞–Ω–æ')

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å DataFrame —Å –¥–∞–Ω–Ω—ã–º–∏ –æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü 'salary' (–∑–∞—Ä–ø–ª–∞—Ç–∞) –∏ 'experience_years' (–æ–ø—ã—Ç —Ä–∞–±–æ—Ç—ã –≤ –≥–æ–¥–∞—Ö). –í–∞–º –Ω—É–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'bonus_rate', –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞—Ç—å —Ä–∞–∑–º–µ—Ä –±–æ–Ω—É—Å–∞ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —ç—Ç–∏—Ö –¥–≤—É—Ö –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤.  

–ü—Ä–∞–≤–∏–ª–∞ —Ä–∞—Å—á—ë—Ç–∞ –±–æ–Ω—É—Å–∞:  
–ï—Å–ª–∏ –æ–ø—ã—Ç —Ä–∞–±–æ—Ç—ã 5 –ª–µ—Ç –∏ –±–æ–ª–µ–µ –ò –∑–∞—Ä–ø–ª–∞—Ç–∞ –±–æ–ª–µ–µ 100 000, –±–æ–Ω—É—Å–Ω–∞—è —Å—Ç–∞–≤–∫–∞ ‚Äî 0.15 (15%).  
–ï—Å–ª–∏ –æ–ø—ã—Ç —Ä–∞–±–æ—Ç—ã 5 –ª–µ—Ç –∏ –±–æ–ª–µ–µ –ò –∑–∞—Ä–ø–ª–∞—Ç–∞ 100 000 –∏–ª–∏ –º–µ–Ω—å—à–µ, –±–æ–Ω—É—Å–Ω–∞—è —Å—Ç–∞–≤–∫–∞ ‚Äî 0.10 (10%).  
–ï—Å–ª–∏ –æ–ø—ã—Ç —Ä–∞–±–æ—Ç—ã –º–µ–Ω–µ–µ 5 –ª–µ—Ç, –±–æ–Ω—É—Å–Ω–∞—è —Å—Ç–∞–≤–∫–∞ ‚Äî 0.05 (5%) –Ω–µ–∑–∞–≤–∏—Å–∏–º–æ –æ—Ç –∑–∞—Ä–ø–ª–∞—Ç—ã.

In [39]:
data = {'employee': ['–ê–Ω–Ω–∞', '–ü—ë—Ç—Ä', '–ï–ª–µ–Ω–∞', '–ò–≤–∞–Ω', '–ú–∞—Ä–∏—è'],
        'salary': [120000, 95000, 150000, 80000, 60000],
        'experience_years': [7, 6, 4, 9, 3]}
df = pd.DataFrame(data)

In [42]:
df

  employee  salary  experience_years  bonus_rate
0     –ê–Ω–Ω–∞  120000                 7        0.15
1     –ü—ë—Ç—Ä   95000                 6        0.10
2    –ï–ª–µ–Ω–∞  150000                 4        0.05
3     –ò–≤–∞–Ω   80000                 9        0.10
4    –ú–∞—Ä–∏—è   60000                 3        0.05

In [41]:
df['bonus_rate'] = df.apply(lambda row: 0.15 if row['experience_years'] >= 5 and row['salary'] > 100000
                                       else (0.10 if row['experience_years'] >= 5 and row['salary'] <= 100000
                                             else 0.05), axis=1)

–£ –≤–∞—Å –µ—Å—Ç—å DataFrame —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø—Ä–æ–µ–∫—Ç–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å –¥–≤–∞ —Å—Ç–æ–ª–±—Ü–∞ —Å –¥–∞—Ç–∞–º–∏: 'start_date' (–¥–∞—Ç–∞ –Ω–∞—á–∞–ª–∞) –∏ 'end_date' (–¥–∞—Ç–∞ –æ–∫–æ–Ω—á–∞–Ω–∏—è), –æ–±–µ –≤ —Å—Ç—Ä–æ–∫–æ–≤–æ–º —Ñ–æ—Ä–º–∞—Ç–µ. –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'project_status' —Å–æ —Å—Ç–∞—Ç—É—Å–æ–º –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞.  

–ü—Ä–∞–≤–∏–ª–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —Å—Ç–∞—Ç—É—Å–∞:  
–ï—Å–ª–∏ –ø—Ä–æ–µ–∫—Ç –∑–∞–≤–µ—Ä—à–∏–ª—Å—è (end_date —Ä–∞–Ω—å—à–µ —Å–µ–≥–æ–¥–Ω—è—à–Ω–µ–π –¥–∞—Ç—ã), —Å—Ç–∞—Ç—É—Å ‚Äî "–ó–∞–≤–µ—Ä—à—ë–Ω".  
–ï—Å–ª–∏ –ø—Ä–æ–µ–∫—Ç –µ—â—ë –Ω–µ –Ω–∞—á–∞–ª—Å—è (start_date –ø–æ–∑–∂–µ —Å–µ–≥–æ–¥–Ω—è—à–Ω–µ–π –¥–∞—Ç—ã), —Å—Ç–∞—Ç—É—Å ‚Äî "–í –æ–∂–∏–¥–∞–Ω–∏–∏".  
–í –æ—Å—Ç–∞–ª—å–Ω—ã—Ö —Å–ª—É—á–∞—è—Ö (–ø—Ä–æ–µ–∫—Ç –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ), —Å—Ç–∞—Ç—É—Å ‚Äî "–í –ø—Ä–æ—Ü–µ—Å—Å–µ"

In [43]:
import pandas as pd
from datetime import datetime

data = {'project_name': ['–í–µ–±-—Å–∞–π—Ç', '–ú–æ–±–∏–ª—å–Ω–æ–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ', '–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö'],
        'start_date': ['2023-01-10', '2025-05-20', '2024-03-15'],
        'end_date': ['2023-05-15', '2025-10-30', '2024-12-01']}
df = pd.DataFrame(data)

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö –¥–∞—Ç –≤ —Ñ–æ—Ä–º–∞—Ç datetime
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

# –ü–æ–ª—É—á–µ–Ω–∏–µ —Å–µ–≥–æ–¥–Ω—è—à–Ω–µ–π –¥–∞—Ç—ã –¥–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è
today = pd.to_datetime(datetime.now().strftime('%Y-%m-%d'))

In [51]:
df

           project_name start_date   end_date project_status
0              –í–µ–±-—Å–∞–π—Ç 2023-01-10 2023-05-15       –ó–∞–≤–µ—Ä—à–µ–Ω
1  –ú–æ–±–∏–ª—å–Ω–æ–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ 2025-05-20 2025-10-30     –í –ø—Ä–æ—Ü–µ—Å—Å–µ
2           –ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö 2024-03-15 2024-12-01       –ó–∞–≤–µ—Ä—à–µ–Ω

In [50]:
df['project_status'] = df.apply(lambda row: '–ó–∞–≤–µ—Ä—à–µ–Ω' if row['end_date'] < today 
                                else ('–í –æ–∂–∏–¥–∞–Ω–∏–∏' if row['start_date'] > today
                                      else '–í –ø—Ä–æ—Ü–µ—Å—Å–µ'), axis=1)

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å DataFrame —Å –¥–∞–Ω–Ω—ã–º–∏ –æ —Ç–æ–≤–∞—Ä–∞—Ö. –í –Ω—ë–º –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü 'product_name', –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–æ–≤–∞—Ä–æ–≤. –í–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî —Å–æ–∑–¥–∞—Ç—å –¥–≤–∞ –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–∞:  
'is_food': –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å True, –µ—Å–ª–∏ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ —Å–æ–¥–µ—Ä–∂–∏—Ç –æ–¥–Ω–æ –∏–∑ —Å–ª–æ–≤: '—è–±–ª–æ–∫–æ', '–∞–ø–µ–ª—å—Å–∏–Ω', '—Ö–ª–µ–±', '–º–æ–ª–æ–∫–æ'. –í –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äî False.  
'product_category': –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å "–ï–¥–∞", –µ—Å–ª–∏ —Ç–æ–≤–∞—Ä ‚Äî —ç—Ç–æ –µ–¥–∞ ('is_food' —Ä–∞–≤–µ–Ω True). –í –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äî "–î—Ä—É–≥–æ–µ".

In [18]:
data = {'product_name': ['–Ø–±–ª–æ–∫–æ', '–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞', '–•–ª–µ–±', '–ú—ã—à—å', '–ú–æ–ª–æ–∫–æ', '–ö–Ω–∏–≥–∞']}
df = pd.DataFrame(data)

# –í–∞—à —Å–ø–∏—Å–æ–∫ –∫–ª—é—á–µ–≤—ã—Ö —Å–ª–æ–≤
food_keywords = ['—è–±–ª–æ–∫–æ', '–∞–ø–µ–ª—å—Å–∏–Ω', '—Ö–ª–µ–±', '–º–æ–ª–æ–∫–æ']

In [29]:
df

  product_name is_food product_category
0       –Ø–±–ª–æ–∫–æ    True              –ï–¥–∞
1   –ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞   False           –î—Ä—É–≥–æ–µ
2         –•–ª–µ–±    True              –ï–¥–∞
3         –ú—ã—à—å   False           –î—Ä—É–≥–æ–µ
4       –ú–æ–ª–æ–∫–æ    True              –ï–¥–∞
5        –ö–Ω–∏–≥–∞   False           –î—Ä—É–≥–æ–µ

In [19]:
df['is_food'] = df['product_name'].apply(lambda x: 'True' if x.lower() in food_keywords else 'False')

In [28]:
df['product_category'] = df['is_food'].apply(lambda x: '–ï–¥–∞' if x == 'True' else '–î—Ä—É–≥–æ–µ')