У тебя есть DataFrame deliveries, который содержит данные о доставках еды в ресторане.  
Твоя задача — написать функцию, которая:  
Группирует данные по delivery_date.  
Для столбца dish выполняет две агрегации:  
Подсчитывает количество уникальных блюд (unique_dishes).  
Подсчитывает общее количество доставок (включая повторяющиеся блюда) (total_deliveries).  
Возвращает DataFrame с колонками delivery_date, unique_dishes, total_deliveries, отсортированный по delivery_date по возрастанию.

In [3]:
import pandas as pd

data = [
    ['2023-07-01', 'Pizza'],
    ['2023-07-01', 'Pizza'],
    ['2023-07-01', 'Sushi'],
    ['2023-07-02', 'Burger'],
    ['2023-07-02', 'Pizza'],
    ['2023-07-03', 'Sushi'],
    ['2023-07-03', 'Sushi'],
    ['2023-07-03', 'Burger']
]
deliveries = pd.DataFrame(data, columns=['delivery_date', 'dish']).astype({'delivery_date': 'datetime64[ns]', 'dish': 'object'})

In [4]:
deliveries

  delivery_date    dish
0    2023-07-01   Pizza
1    2023-07-01   Pizza
2    2023-07-01   Sushi
3    2023-07-02  Burger
4    2023-07-02   Pizza
5    2023-07-03   Sushi
6    2023-07-03   Sushi
7    2023-07-03  Burger

In [18]:
deliveries.groupby('delivery_date', as_index=False)\
    ['dish']\
    .agg([('unique_dishes', 'nunique'),\
        ('total_deliveries', 'count')])\
    .sort_values('delivery_date')

  delivery_date  unique_dishes  total_deliveries
0    2023-07-01              2                 3
1    2023-07-02              2                 2
2    2023-07-03              2                 3