586. Клиент, оформивший наибольшее количество заказов  
Напишите решение, чтобы найти customer_number для клиента, который сделал наибольшее количество заказов.  
Тестовые сценарии составлены таким образом, чтобы ровно один клиент разместил больше заказов, чем любой другой клиент.

In [1]:
import pandas as pd
data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [2]:
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [24]:
result = orders.groupby('customer_number', as_index=False)\
    .agg({'order_number': 'count'})\
    .sort_values('order_number', ascending = [False])\
    .head(1)\
    [['customer_number']]

In [25]:
result

   customer_number
2                3

SELECT  
    customer_number  
FROM Orders  
GROUP BY customer_number  
ORDER BY COUNT (order_number) DESC  
LIMIT 1