619. Самое большое однозначное число  
Единственное число — это число, которое встречается в таблице MyNumbers только один раз.  
Найдите наибольшее одно число. Если одно число не существует, сообщите null.

In [1]:
import pandas as pd
data = [[8], [8], [3], [3], [1], [4], [5], [6]]
my_numbers = pd.DataFrame(data, columns=['num']).astype({'num':'Int64'})

In [2]:
my_numbers

   num
0    8
1    8
2    3
3    3
4    1
5    4
6    5
7    6

In [36]:
result = my_numbers\
    .groupby('num')\
    .agg({'num': 'count'})\
    .rename(columns={'num': 'count'})\
    .query('count == 1')\
    .sort_values(by='num', ascending=False)\
    .head(1)

In [37]:
result

     count
num
6        1