596. Классы, в которых учится не менее 5 человек  
Напишите программу для поиска всех классов, в которых не менее пяти учеников.  
Верните таблицу результатов в любом порядке.

In [1]:
import pandas as pd
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

In [2]:
courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [3]:
result = courses\
    .groupby('class', as_index=False)\
    .agg({'student': 'count'})\
    .query('student > 4')\
    [['class']]

In [ ]:
result = courses\
    .groupby('class', as_index=False)\
    .agg({'student': 'count'})\
    .diff('student > 4')\
    [['class']]

In [4]:
result

  class
3  Math