1084. Анализ продаж III  
Напишите решение для вывода списка товаров, которые были только проданы в первом квартале 2019. То есть в период с 2019-01-01 по 2019-03-31 включительно.

In [1]:
import pandas as pd
data = [[1, 'S8', 1000], [2, 'G4', 800], [3, 'iPhone', 1400]]
product = pd.DataFrame(data, columns=['product_id', 'product_name', 'unit_price']).astype({'product_id':'Int64', 'product_name':'object', 'unit_price':'Int64'})
data = [[1, 1, 1, '2019-01-21', 2, 2000], [1, 2, 2, '2019-02-17', 1, 800], [2, 2, 3, '2019-06-02', 1, 800], [3, 3, 4, '2019-05-13', 2, 2800]]
sales = pd.DataFrame(data, columns=['seller_id', 'product_id', 'buyer_id', 'sale_date', 'quantity', 'price']).astype({'seller_id':'Int64', 'product_id':'Int64', 'buyer_id':'Int64', 'sale_date':'datetime64[ns]', 'quantity':'Int64', 'price':'Int64'})

In [2]:
product

   product_id product_name  unit_price
0           1           S8        1000
1           2           G4         800
2           3       iPhone        1400

In [3]:
sales

   seller_id  product_id  buyer_id  sale_date  quantity  price
0          1           1         1 2019-01-21         2   2000
1          1           2         2 2019-02-17         1    800
2          2           2         3 2019-06-02         1    800
3          3           3         4 2019-05-13         2   2800

In [ ]:
df_period = sales[(sales['sale_date'] >= '2019-01-01') & (sales['sale_date'] <= '2019-03-31')]

In [10]:
df_res = sales[~((sales['sale_date'] >= '2019-01-01') & (sales['sale_date'] <= '2019-03-31'))]

In [20]:
pd.merge(\
    df_period[~df_period['product_id']\
    .isin(df_res['product_id'])],\
    product, on='product_id'
)[['product_id', 'product_name']].drop_duplicates()

   product_id product_name
0           1           S8