1517. Найдите пользователей с действительными адресами электронной почты  
Напишите решение для поиска пользователей с действительными адресами электронной почты.  
Действительный адрес электронной почты состоит из префикса и домена, где:  
Имя префикса — это строка, которая может содержать буквы (в верхнем или нижнем регистре), цифры, символ подчеркивания '_', точку '.' и/или дефис '-'. Имя префикса должно начинаться с буквы.
Домен — это '@leetcode.com'.

In [1]:
import pandas as pd
data = [[1, 'Winston', 'winston@leetcode.com'], [2, 'Jonathan', 'jonathanisgreat'], [3, 'Annabelle', 'bella-@leetcode.com'], [4, 'Sally', 'sally.come@leetcode.com'], [5, 'Marwan', 'quarz#2020@leetcode.com'], [6, 'David', 'david69@gmail.com'], [7, 'Shapiro', '.shapo@leetcode.com']]
users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})

In [9]:
users

   user_id       name                     mail verification
0        1    Winston     winston@leetcode.com         True
1        2   Jonathan          jonathanisgreat        False
2        3  Annabelle      bella-@leetcode.com         True
3        4      Sally  sally.come@leetcode.com         True
4        5     Marwan  quarz#2020@leetcode.com         True
5        6      David        david69@gmail.com         True
6        7    Shapiro      .shapo@leetcode.com        False

In [8]:
users['verification'] = users['mail'].apply(lambda x: 'True' if '@' in x and '.' in x.split('@')[1] and x[0] in 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz' else 'False' )

In [23]:
users[['user_id','name', 'mail']].loc[users['verification'] == 'True']

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com