1050. Актеры и режиссеры, Которые Сотрудничали Не менее трех раз  
Напишите решение, чтобы найти все пары (actor_id, director_id) в которых актёр сотрудничал с режиссёром как минимум три раза.

In [1]:
import pandas as pd
data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
actor_director = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})

In [2]:
actor_director

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [22]:
actor_director.value_counts(subset=['actor_id', 'director_id'])\
    .reset_index()\
    .query('count >= 3')\
    [['actor_id', 'director_id']]

   actor_id  director_id
0         1            1