1484. Группа «Проданные товары по дате»  
Напишите программу, которая для каждой даты будет находить количество проданных различных товаров и их названия.  
Названия проданных товаров для каждой даты должны быть отсортированы в лексикографическом порядке.  
Верните таблицу результатов, упорядоченную по sell_date.

In [1]:
import pandas as pd
data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})

In [2]:
activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

In [3]:
activities.groupby('sell_date', as_index=False)\
    ['product']\
    .agg([('num_sold', 'nunique'),\
        ('products', lambda x: ','.join(sorted(x.unique())))])

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask

In [4]:
activities.groupby('sell_date', as_index=False)\
    ['product']\
    .agg([('num_sold', 'nunique'),\
        ('products', lambda x: ','.join(x.unique()))])

   sell_date  num_sold                      products
0 2020-05-30         3  Headphone,Basketball,T-Shirt
1 2020-06-01         2                  Pencil,Bible
2 2020-06-02         1                          Mask