1179. Переформатировать таблицу отделов  
Переформатируйте таблицу так, чтобы в ней были столбец с идентификатором отдела и столбец с доходом за каждый месяц.

In [1]:
import pandas as pd
data = [[1, 8000, 'Jan'], [2, 9000, 'Jan'], [3, 10000, 'Feb'], [1, 7000, 'Feb'], [1, 6000, 'Mar']]
department = pd.DataFrame(data, columns=['id', 'revenue', 'month']).astype({'id':'Int64', 'revenue':'Int64', 'month':'object'})

In [9]:
department

   id  revenue month
0   1     8000   Jan
1   2     9000   Jan
2   3    10000   Feb
3   1     7000   Feb
4   1     6000   Mar

In [10]:
prefixes = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

In [8]:
department.pivot(index='id', columns='month', values='revenue')\
    .reindex(columns=prefixes)\
    .rename(columns=lambda prefix: prefix + "_Revenue", inplace=True)\
    .reset_index(inplace=True)

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [11]:
bymonth = department.pivot(index='id', columns='month', values='revenue')
bymonth = bymonth.reindex(columns=prefixes) # put months in order, and add null cols for missing months
bymonth.rename(columns=lambda prefix: prefix + "_Revenue", inplace=True) # e.g. Jan => Jan_Revenue
bymonth.reset_index(inplace=True)

In [12]:
bymonth

month,id,Jan_Revenue,Feb_Revenue,Mar_Revenue,Apr_Revenue,May_Revenue,Jun_Revenue,Jul_Revenue,Aug_Revenue,Sep_Revenue,Oct_Revenue,Nov_Revenue,Dec_Revenue
0,1,8000,7000,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,9000,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,<NA>,10000,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN