183. Клиенты, которые никогда ничего не заказывают  
Напишите программу для поиска всех клиентов, которые никогда ничего не заказывали.  
Вернуть таблицу результатов в любом порядке.  
Формат результата показан в следующем примере.

In [1]:
import pandas as pd

In [2]:
data = [
    {'id': 1, 'name': 'Joe'},
    {'id': 2, 'name': 'Henry'},
    {'id': 3, 'name': 'Sam'},
    {'id': 4, 'name': 'Max'}
]

In [3]:
customers = pd.DataFrame(data)

In [4]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [6]:
data_orders = [
    [1, 3],
    [2, 1]
]

In [7]:
orders = pd.DataFrame(data_orders, columns=['id','customerId'])

In [8]:
orders

   id  customerId
0   1           3
1   2           1

In [11]:
df = customers.merge(\
    orders,\
    how='left',\
    left_on='id',\
    right_on='customerId')

In [12]:
df

   id_x   name  id_y  customerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [14]:
result = df[df['id_y'].isna()][['name']]

In [15]:
result

    name
1  Henry
3    Max

In [16]:
df_cus=customers[~customers['id'].isin(orders['customerId'])]

In [17]:
df_cus

   id   name
1   2  Henry
3   4    Max