In [1]:
import pandas as pd

In [3]:
data = [
    {'player_id': 1, 'device_id': 2, 'event_date': '2016-03-01', 'games_played': 5},
    {'player_id': 1, 'device_id': 2, 'event_date': '2016-05-02', 'games_played': 6},
    {'player_id': 2, 'device_id': 3, 'event_date': '2017-06-25', 'games_played': 1},
    {'player_id': 3, 'device_id': 1, 'event_date': '2016-03-02', 'games_played': 0},
    {'player_id': 3, 'device_id': 4, 'event_date': '2018-07-03', 'games_played': 5}
]

In [4]:
Activity = pd.DataFrame(data)

In [5]:
Activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [10]:
result = Activity.groupby('player_id', as_index=False).agg({'event_date': 'min'}).rename(columns={'event_date': 'first_login'})

In [11]:
result

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02