610. Решение треугольника  
Для каждых трёх отрезков проверьте, могут ли они образовать треугольник.  
Вернуть таблицу результатов в любом порядке.  
Формат результата показан в следующем примере.

In [1]:
import pandas as pd

In [2]:
data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})

In [3]:
triangle

    x   y   z
0  13  15  30
1  10  20  15