196. Удаление дубликатов писем  
Напишите решение для удаления всех повторяющихся писем, оставив только одно уникальное письмо с наименьшим id.
Пользователи Pandas, обратите внимание, что Person нужно изменять на месте.
После запуска вашего скрипта отобразится таблица Person . Драйвер сначала скомпилирует и запустит ваш фрагмент кода, а затем отобразит таблицу Person . Окончательный порядок таблицы Personне имеет значения.

In [1]:
import pandas as pd

In [15]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]

In [26]:
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [31]:
person

   id             email
1   2   bob@example.com
2   3  john@example.com

In [30]:
person = person.sort_values(by='id').drop_duplicates(subset=['email'], keep='last')