197. Повышение температуры  
Напишите программу, которая находит все даты id с более высокими температурами по сравнению с предыдущими датами (вчерашними).  
Верните таблицу результатов в любом порядке.

In [4]:
import pandas as pd
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [9]:
weather.head()

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [ ]:
weather.sort_values(by='recordDate', inplace=True)

In [8]:
weather[
        (weather.temperature.diff() > 0)
      & (weather.recordDate.diff().dt.days == 1)
    ][['id']]

   id
1   2
3   4

In [11]:
weather[(weather.temperature.diff() > 0) & (weather.recordDate.diff().dt.days == 1)][['id']]

   id
1   2
3   4