1327. Перечислите товары, заказанные за определённый период  
Напишите решение, которое позволит получить названия товаров, заказанных в количестве не менее 100 единиц в феврале 2020 года, и их количество.

In [20]:
import pandas as pd
data = [[1, 'Leetcode Solutions', 'Book'], [2, 'Jewels of Stringology', 'Book'], [3, 'HP', 'Laptop'], [4, 'Lenovo', 'Laptop'], [5, 'Leetcode Kit', 'T-shirt']]
products = pd.DataFrame(data, columns=['product_id', 'product_name', 'product_category']).astype({'product_id':'Int64', 'product_name':'object', 'product_category':'object'})
data = [[1, '2020-02-05', 60], [1, '2020-02-10', 70], [2, '2020-01-18', 30], [2, '2020-02-11', 80], [3, '2020-02-17', 2], [3, '2020-02-24', 3], [4, '2020-03-01', 20], [4, '2020-03-04', 30], [4, '2020-03-04', 60], [5, '2020-02-25', 50], [5, '2020-02-27', 50], [5, '2020-03-01', 50]]
orders = pd.DataFrame(data, columns=['product_id', 'order_date', 'unit']).astype({'product_id':'Int64', 'order_date':'datetime64[ns]', 'unit':'Int64'})

In [21]:
products

   product_id           product_name product_category
0           1     Leetcode Solutions             Book
1           2  Jewels of Stringology             Book
2           3                     HP           Laptop
3           4                 Lenovo           Laptop
4           5           Leetcode Kit          T-shirt

In [22]:
orders

    product_id order_date  unit
0            1 2020-02-05    60
1            1 2020-02-10    70
2            2 2020-01-18    30
3            2 2020-02-11    80
4            3 2020-02-17     2
5            3 2020-02-24     3
6            4 2020-03-01    20
7            4 2020-03-04    30
8            4 2020-03-04    60
9            5 2020-02-25    50
10           5 2020-02-27    50
11           5 2020-03-01    50

In [26]:
orders.merge(products, on='product_id')\
    .query("'2020-02-01' <= order_date <= '2020-02-29'")\
    .groupby('product_name', as_index=False)\
    .agg({'unit': 'sum'})\
    .query('unit >= 100')

         product_name  unit
2        Leetcode Kit   100
3  Leetcode Solutions   130