Найти топ 5% пользователей с наибольшим количеством заказов по name

In [3]:
import pandas as pd

In [ ]:
orders = pd.DataFrame({
    "order_id": list(range(1, 41)),
    "user_id": [
    5,5,5,5,5,5,5,5,5,5,      # 10 заказов (Ева)
    2,2,2,2,2,2,2,2,           # 8 заказов (Саша)
    1,1,1,1,1,1,               # 6 заказов (Алиса)
    3,3,3,3,                   # 4 заказа (Лена)
    4,4,4,                      # 3 заказа (Давид)
    6,7,8,9,10,11,12,13,14      # по одному заказу
],
    "state": ["delivered"] * 40   
})

In [5]:
users = pd.DataFrame({
    "user_id": list(range(1, 21)),
    "name": [
        "Алиса", "Саша", "Лена", "Давид", "Ева",
        "Марина", "Игорь", "Оля", "Иван", "Юля",
        "София", "Саша", "Олег", "Лера", "Миша",
        "Наташа", "Ирина", "Петр", "Лиза", "Рита"
    ] 
})

In [6]:
orders.head()

   order_id  user_id      state
0         1        5  delivered
1         2        5  delivered
2         3        5  delivered
3         4        5  delivered
4         5        5  delivered

In [7]:
users.head()

   user_id   name
0        1  Алиса
1        2   Саша
2        3   Лена
3        4  Давид
4        5    Ева

In [11]:
query = """
SELECT * from orders
"""
result = duckdb.query(query).to_df()

NameError: name 'duckdb' is not defined

In [ ]:
# coment